*, body, input, select {font-family: "Segoe UI"}

img {
	max-width: 100%;
}
.intro-bg {
	color: white;
	background: url("https://i.imgur.com/5F0GYvY.jpg") no-repeat center;
	-webkit-background-size: cover;
	background-size: cover;
	min-height: 300px;
	position: relative;
}

.intro-bg .content {
	position: absolute;
	z-index: 5;
	text-shadow: 0 0 2px white;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}
.intro-bg::before {
	position: absolute;
	content: "";
	background-color: rgba(0,0,0,0.5);
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.intro-bg .socials a {
	color: white;
	font-size: 2em;
	padding: 10px;
	transition: all 0.5% linear;
}
.intro-bg .socials a:hover {
	font-size: 2.5em;
	color: gray;
}

.intro-about-pic{
	text-align: center;
	padding: 25px;

}
.intro-about-pic figure{
	
}
.intro-about-pic figure img{
	display: block;
	width: 200px;
	margin: 15px auto;
	border-radius: 46%;/*use 100 when square*/
	box-shadow: 0 0 15px grey;
}
.intro-about-pic figure figcaption{
	font-size: 1.5em;
	font-weight: 300;
	font-family: "jokerman"/*change this*/;
}
.intro-about-text{
	padding: 25px;
}
.intro-about-text h2{
	font-family: "script";
	font-weight: 300;
	text-shadow: 0 0 1px black;
}
.intro-about-text p{
	line-height: 2;
}

@media screen and (max-width: 575px) {
	.intro-about-pic figure img{
		margin-bottom: 0px;
	}

	.intro-about-pic figure figcaption{
		display: none;
	}
}
/*https://i.imgur.com/5F0GYvY.jpg code image
https://i.imgur.com/JoVrASB.jpg laptop pic*/