/**/
html {
	scroll-behavior: smooth;
}
*, body, input, select {font-family: "Segoe UI";}

body {
	background-color: #000000f0;
	color: white;
}

img {
	max-width: 100%;
}

a:hover { 
	text-decoration: none; 
}

.nav-link a{
	transition: all 0.5% line-height;
}

.intro-bg {
	color: white;
	background: url("https://i.imgur.com/5F0GYvY.jpg") no-repeat center;
	-webkit-background-size: cover;
	background-size: cover;
	min-height: 300px;
	position: relative;
}

.intro-bg .content {
	position: absolute;
	z-index: 5;
	text-shadow: 0 0 2px white;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}

.intro-bg::before {
	position: absolute;
	content: "";
	background-color: rgba(0,0,0,0.5);
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.intro-bg .socials a {
	color: white;
	font-size: 2em;
	padding: 10px;
	transition: all 0.5% linear;
}
.dark-mode{
	background-color: white;
	color: black;
}
.socials a:nth-child(1):hover {
	font-size: 2.5em;
	color: #333333;
}
.socials a:nth-child(2):hover {
	font-size: 2.5em;
	color: purple;
}
.socials a:nth-child(3):hover {
	font-size: 2.5em;
	color: #0059b3;
}
.socials a:nth-child(4):hover {
	font-size: 2.5em;
	color: #e60000;
}
.socials a:nth-child(5):hover {
	font-size: 2.5em;
	color: #0000e6;
}
.socials a:nth-child(6):hover {
	font-size: 2.5em;
	color: #000080;
}
.socials a:nth-child(7):hover {
	font-size: 2.5em;
	color: #0099cc;
}


.intro-about-pic{
	text-align: center;
	padding: 25px;

}

.intro-about-pic figure img{
	display: block;
	width: 200px;
	margin: 15px auto;
	border-radius: 100%;
	box-shadow: 0 0 15px #488fa0;
}

.intro-about-pic figure figcaption{
	font-size: 1.5em;
	font-weight: 300;
	font-family: 'Noto Sans KR', sans-serif;
}

.intro-about-text{
	padding: 25px;
}

.intro-about-text h1{
	font-family: "script";
	font-weight: 300;
	text-shadow: 0 0 1px black;
}

.intro-about-text p{
	line-height: 2;
	text-align: center;
}

@media screen and (max-width: 575px) {
	.intro-about-pic figure img{
		margin-bottom: 0px;
	}

	.intro-about-text h1{
		display: none;
	}
}

.skill-name {
	font-size: 22px;
	font-weight: 500;
}

.skill-name-main {
	font-size: 32px;
	font-weight: 500;
}
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
	background-color: transparent;
	width: 300px;
	height: 200px;
	border: 1px solid gray;
	perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden; /* Safari */
	backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
	background-color: black;
	color: white;
}

/* Style the back side */
.flip-card-back {
	background-color: silver;
	color: black;
	transform: rotateY(180deg);
}

#projects {
	padding: 5px;
	margin: 5px;
}

.card {
	margin: auto;
	box-shadow: 0 4px 8px 0 silver;
	max-width: 300px;
	text-align: center;
	color: black;
}

.card button {
	border: none;
	outline: 0;
	padding: 12px;
	color: white;
	background-color: #000;
	text-align: center;
	cursor: pointer;
	width: 90%;
	font-size: 18px;
}

.card button:hover {
	opacity: 0.7;
}

.card img {
	opacity: 0.9;
}

.card img:hover {
	opacity: 1;
}

.contactmehead {
  font-size: 50px;
  text-align: center;
}
.glow {
  color: silver;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 25px silver, 0 0 30px white, 0 0 40px gray, 0 0 45px silver, 0 0 50px white;
  }
  
  to {
    text-shadow: 0 0 30px gray, 0 0 40px silver, 0 0 50px white, 0 0 55px gray, 0 0 60px silver;
  }
}

.shadowed {
	border-width: 1px;
	border-style: solid;
  border-color: gray;
  width: 300px;
  box-shadow: 10px 10px 5px silver;
}

.coupon {
  border: 5px dotted #bbb; /* Dotted border */
  width: 80%;
  border-radius: 15px; /* Rounded border */
  margin: 0 auto; /* Center the coupon */
  max-width: 600px;
  color:black;
}

.coupon-container {
  padding: 2px 16px;
  background-color: gray;
}

.promo {
  background: black;
  color: white;
  padding: 3px;
}

.expire {
  color: red;
}

.socials-last a {
	color: gray;
	font-size: 2em;
	padding: 10px;
	transition: all 0.5% linear;
}
.socials-last a:nth-child(1):hover {
	font-size: 2.5em;
	color: #333333;
}
.socials-last a:nth-child(2):hover {
	font-size: 2.5em;
	color: purple;
}
.socials-last a:nth-child(3):hover {
	font-size: 2.5em;
	color: #0059b3;
}
.socials-last a:nth-child(4):hover {
	font-size: 2.5em;
	color: #e60000;
}
.socials-last a:nth-child(5):hover {
	font-size: 2.5em;
	color: #0000e6;
}
.socials-last a:nth-child(6):hover {
	font-size: 2.5em;
	color: #000080;
}
.socials-last a:nth-child(7):hover {
	font-size: 2.5em;
	color: #0099cc;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: silver;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: black;
}

input:focus + .slider {
  box-shadow: 0 0 1px black;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.dark-mode-switch {
	font-size: 1.5em;
}

.dark-mode-switch i:nth-child(1) {
	color: white;
}

.tmp {
	color: black;
}

/**/
